body {
  font-family: 'Raleway', Arial, sans-serif;
  height: 100vh;
  width: 100vw;
  margin: 0;
}


#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 20px;
  background-color: #333;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

#navLogin,
#navRegister,
#navRoutines,
#navActivities,
#navCreateActivities,
#navCreateRoutines {
  display: inline-block;
  height: 100%;
  padding: 0 20px;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

#navLogin:hover,
#navRegister:hover,
#navRoutines:hover,
#navActivities:hover,
#navCreateActivities:hover,
#navCreateRoutines:hover {
  color: #bbb;
}

#logOut {
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 18px;
  padding: 0 20px;
  transition: color 0.2s ease-in-out;
}

#logOut:hover {
  color: #bbb;
  cursor: pointer;
}
